.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  .label {
    color: #464646;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0;
    font-weight: 500;
  }

  .input {
    padding: 8px 12px;
    gap: 8px;
    min-height: 32px;
    border-radius: 8px;
    border: 1px #616161 solid;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    color: #464646;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0;

    outline: none;

    &::placeholder {
      color: #8E8E8E;
    }

    &:focus {
      border-color: #006EFF;
    }
  }

  .hint {
    color: #8E8E8E;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0;
  }
}