.page {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 4px;


  .searchContainer {
    display: flex;
    margin: 0 auto;
  }

  .responseContainer {
    padding: 8px 12px;
    border: 1px solid #8E8E8E;
    border-radius: 8px;

    .response {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: 0;
      padding: 12px;
      color: #464646;

      .highlight {
        color: #0092FF;
      }
    }
  }
}